html, body {
    font-size: 4px;
}
body {
    background-color: #f1f6f6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
    align-items: baseline;
}
.navbar_left {
    width: 50%;
    display: flex;
    flex-direction: row;

}
.navbar_right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.schoolname{
    display: flex;
    width: 247px;
    height: 29px;
    color: #00a09b;
    padding-left: 20px;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 19.6px;
}
.text1{
    display: flex;
    width: 189px;
    height: 13px;
    color: #bdbdbd;
    padding-top: 4rem;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 1.37px;
}
.password {/* Style for "CONTRASEÑA" */
    width: 131px;
    display: flex;
    color: #00c4c0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15rem;
}
.password i {
    margin-right: 3rem;
}
.username {/* Style for "John Doe" */
    width: 32rem;
    display: flex;
    color: #00a09b;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 700;
}
.username i {
    margin-left: 3rem;
}
.packagebox {
    width: 70rem;
    height: 125rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-top: 8rem;
    margin-left: 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.gradetitle {
    width: 50rem;    
    text-shadow: 0 2px 0 #ffffff;
    color: #e1e6e6;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 5rem;
    padding: 1rem;
}
li {
    width: 53rem;
    color: #747e7e;
    font-family: "Open Sans";
    font-size: 3.7rem;
    text-align: justify;
    margin-left: 5rem;
    padding: 2rem;
}
li:hover {
    color: #019c97;
    text-decoration: underline;
}
.searchbox {
    width: 100%;
    position: relative;
    display: flex;
}
.addtitle {
    width: 40rem;
    text-shadow: 0 2px 0 #ffffff;
    color: #00a09b;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 4rem;
    margin-top: 16rem;
    margin-bottom: 1rem;
    text-align: center;
}
.namebox {
    width: 40rem;
    height: 8rem;
    border-radius: 24px;
    border: 1px solid #dde4e4;
    background-color: #f1f6f6;
    margin-left: 4rem;
    margin-top: 2rem;
}
.namebox p {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.79);
    color: #c0c0c0;
    font-family: "Open Sans";
    font-size: 3.5rem;
    font-weight: 250;
    text-align: center;
}
.button {
    width: 20rem;
    height: 20rem;
}
.button i {
    width: 10rem;
    height: 10rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    background-color: #00b2ac;
    background-image: linear-gradient(to top, rgba(194, 194, 194, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
}

/* body {
    background: papayawhip;
}
h1 {
    background: greenyellow;
    color: tomato;
    margin: 0;
    padding: 8px 16px;
    display: inline-block;
}
h1 a:hover {
    transform: scale(1.0);
}
a.bailarin {
    background: orange;
}
h1 a {
    background: palevioletred;
}
a {
    background: indigo;
    display: inline-block;
    transition: 0.25s;
}
a:hover {
    transform: scale(1.5);
}
.bailarin:hover {
    transform: rotate(180deg);
    transition: 2s;
} */


/* .plano-cartesiano {
    border: 1px dashed black;
    height: 500px;
    position: relative;
    width: 500px;
}
.particula {
    background: purple;
    border-radius: 10px;
    bottom: 400px;
    height: 20px;
    position: absolute;
    right: 400px;
    transition: 0.5s;
    width: 20px;
}
.plano-cartesiano:hover .particula {
    bottom: 50px;
    right: 100px;
} */
/*
.book {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
}

.book__image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}

.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}

.book__size {
    color: #777777;
    font-size: 3rem;
}

.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}