html, body {
    font-size: 4px;
    font-family: sans-serif;
}
body {
    background-color: #f1f6f6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.schoolname{
    width: 247px;
    height: 29px;
    color: #00a09b;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 19.6px;
}
.text1{
    width: 189px;
    height: 13px;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 1.37px;
}
.img1 {

}
.img2 {
    
}
.password {

}
.username {

}
.navbar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: fixed; 
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* body {
    background: papayawhip;
}
h1 {
    background: greenyellow;
    color: tomato;
    margin: 0;
    padding: 8px 16px;
    display: inline-block;
}
h1 a:hover {
    transform: scale(1.0);
}
a.bailarin {
    background: orange;
}
h1 a {
    background: palevioletred;
}
a {
    background: indigo;
    display: inline-block;
    transition: 0.25s;
}
a:hover {
    transform: scale(1.5);
}
.bailarin:hover {
    transform: rotate(180deg);
    transition: 2s;
} */


/* .plano-cartesiano {
    border: 1px dashed black;
    height: 500px;
    position: relative;
    width: 500px;
}
.particula {
    background: purple;
    border-radius: 10px;
    bottom: 400px;
    height: 20px;
    position: absolute;
    right: 400px;
    transition: 0.5s;
    width: 20px;
}
.plano-cartesiano:hover .particula {
    bottom: 50px;
    right: 100px;
} */
/*
.book {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
}

.book__image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}

.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}

.book__size {
    color: #777777;
    font-size: 3rem;
}

.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}